body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: #e6ebe0;
    margin-bottom: -12px;
    padding: 10px 0;
}
ul{
    list-style: none;
    display: flex;
    background-color: aquamarine;
}
li{
    text-align: center;
    padding: 0 16px;
    font-size: larger;
    margin: 10px auto;
}