body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    box-sizing: border-box;
    display: flex;
    background-color: #e6ebe0;
}
a{
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    margin: 28px 10px;
}
h1{
    padding: 0 50px;
    border-style: solid;
    margin: 28px 42px 28px 200px;
}
img{
    width: 500px;
    height: 300px;
    margin: 80px 42px 28px 0;
    border-radius: 100px;
}

h2{
    margin: 80px 42px 28px 0;
    text-decoration: underline;
    text-align: left;
}

ul>li{
    list-style:disc;
}

p{
    font-size: large;
    width: 900px;
}

